@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  :root{
    --cor-primaria: #FF2127;
    --cor-secundaria: #F5F5F5;
    --cor-texto: #000000;
    --cor-fundo: #FFFFFF;
    --font: 'Manrope', sans-serif;
    --font-size-titulo-servicos:2em;
    --font-size-sub-servicos:3em;
    --font-size-paragrafo-servicos:1.2em;
    --font-weight-titulo-servicos: 400;
    --font-weight-sub-servicos: 600; 
    --font-weight-paragrafo-servicos: 200;
    --height-section-servicos: 65vh;
    --gap-entreimgetexto: 5%;
  }
@media (min-width: 1520.8px) {
    :root{
        --font-size-titulo-servicos:1.5em;
        --font-size-sub-servicos:2.8em;
        --font-size-paragrafo-servicos:1.2em;
        --font-weight-titulo-servicos: 400;
        --font-weight-sub-servicos: 600; 
        --font-weight-paragrafo-servicos: 200;
        --height-section-servicos: 85vh;
        --gap-entreimgetexto: 5%;
    }
}

@media (min-width: 2017.07px) {
    :root{
        --font-size-titulo-servicos:1.3em;
        --font-size-sub-servicos:2.4em;
        --font-size-paragrafo-servicos:1.2em;
        --font-weight-titulo-servicos: 400;
        --font-weight-sub-servicos: 600; 
        --font-weight-paragrafo-servicos: 200;
        --height-section-servicos: 55vh;
        --gap-entreimgetexto: 5%;
    }
}
@media (min-width: 2529.33px) {
    :root{
        --font-size-titulo-servicos:1.5em;
        --font-size-sub-servicos:2.8em;
        --font-size-paragrafo-servicos:1.6em;
        --font-weight-titulo-servicos: 400;
        --font-weight-sub-servicos: 600; 
        --font-weight-paragrafo-servicos: 200;
        --height-section-servicos: 45vh;
        --gap-entreimgetexto: 5%;
    }

}
.conteudo-principal-servicos{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.servicos-section-um{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 4%;
    height: 25vh;
}
.servicos-section-dois{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap:var(--gap-entreimgetexto);
    height: var(--height-section-servicos);

}
.COMPRE_CONOSCO{
  display: flex;
  flex-direction: column;
  width: 40%;
}

.titulo_um_servicos{
    font-family: var(--font);
    font-size: var(--font-size-titulo-servicos);
    font-weight: var(--font-weight-titulo-servicos);
    color: var(--cor-primaria);
}
.sub_um_servicos{
    font-family: var(--font);
    font-size: var(--font-size-sub-servicos);
    font-weight: var(--font-weight-sub-servicos);
    color: var(--cor-texto);
}

.paragrafos_um_servicos{
    font-family: var(--font);
    font-size: var(--font-size-paragrafo-servicos);
    font-weight: var(--font-weight-paragrafo-servicos);
    color: var(--cor-texto);
}

@media (max-width: 500px){

    :root{
        --cor-primaria: #FF2127;
        --cor-secundaria: #F5F5F5;
        --cor-texto: #000000;
        --cor-fundo: #FFFFFF;
        --font: 'Manrope', sans-serif;
        --font-size-titulo-servicos:0.8em;
        --font-size-sub-servicos:1.8em;
        --font-size-paragrafo-servicos:0.8em;
        --font-weight-titulo-servicos: 400;
        --font-weight-sub-servicos: 600; 
        --font-weight-paragrafo-servicos: 200;
        --height-section-servicos: 100vh;
        --gap-entreimgetexto: 5%;
      }
    .servicos-section-um{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding-top: 4%;
        height: 25vh;
    }
    .servicos-section-dois{
        display: flex;
        flex-direction:column-reverse;
        justify-content: center;
        align-items: center;
        gap:var(--gap-entreimgetexto);
        height: var(--height-section-servicos);
    
    }
    .COMPRE_CONOSCO{
      display: flex;
      flex-direction: column;
      width: 60%;
    }
    
    .titulo_um_servicos{
        font-family: var(--font);
        font-size: var(--font-size-titulo-servicos);
        font-weight: var(--font-weight-titulo-servicos);
        color: var(--cor-primaria);
    }
    .sub_um_servicos{
        font-family: var(--font);
        font-size: var(--font-size-sub-servicos);
        font-weight: var(--font-weight-sub-servicos);
        color: var(--cor-texto);
    }
    
    .paragrafos_um_servicos{
        font-family: var(--font);
        font-size: var(--font-size-paragrafo-servicos);
        font-weight: var(--font-weight-paragrafo-servicos);
        color: var(--cor-texto);
    }
}
