/* stylesCabecalho.css */

.nav-inner {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* logo à esquerda, botão à direita */
  align-items: center;            /* centraliza verticalmente */
  height: 70px;                    /* defina a altura do seu nav */
  background: #000;
}
.logo-mobile{
  height: 60px;
  width: 60px;
  padding-left: 15%;
  padding-top: 10%;
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  padding-right: 15%;
  padding-top: 10%;
  
}

.menu-button img {
  width: auto;  
  height: auto;
}
.icones-container{
  margin: 0;
  padding-right: 12%;
  padding-top: 0.6%;
  width: auto;
  height: auto;
}