@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

:root{
    --cor-primaria: #FF2127;
    --cor-secundaria: #F5F5F5;
    --cor-texto: #000000;
    --cor-fundo: #FFFFFF;
    --font: 'Manrope', sans-serif;
    --font-size-titulo-contato:3em;
    --font-size-link-contato:0.5em;
    --weight-titulo-cotato: 1000;
    --weight-link: 400;
    --gapEntreIconeEtexto: 5%;
    --heightSectionDois: 80vh;
    --margin-links:5%;

  }
@media (min-width: 500px) {
:root{
    --font-size-titulo-contato:1.5em;
    --font-size-link-contato:0.5em;
    --weight-titulo-cotato: 600;
    --weight-link: 400;
    --gapEntreIconeEtexto: 5%;
    --heightSectionDois: 50vh;
    --margin-links:6%;
}

.contatos-section-dois{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    height: var(--heightSectionDois);
    width: 277.37;
    height: 276.26;
}
    
}
@media (min-width: 1520.8px) {
:root{
    --font-size-titulo-contato:3em;
    --font-size-link-contato:0.5em;
    --weight-titulo-cotato: 1000;
    --weight-link: 400;
    --gapEntreIconeEtexto: 5%;
    --heightSectionDois: 120vh;
    --margin-links:5%;
}
}
@media (min-width: 1680.89px) {
    :root{
        --font-size-titulo-contato:3em;
        --font-size-link-contato:0.5em;
        --weight-titulo-cotato: 1000;
        --weight-link: 400;
        --gapEntreIconeEtexto: 5%;
        --heightSectionDois: 100vh;
        --margin-links:5%;
    }
}
@media (min-width: 2107.78px) {
    :root{
        --font-size-titulo-contato:3em;
        --font-size-link-contato:0.5em;
        --weight-titulo-cotato: 1000;
        --weight-link: 400;
        --gapEntreIconeEtexto: 5%;
        --heightSectionDois: 80vh;
        --margin-links:5%;
    }



}
.conteudo-principal_contatoss{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap:0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contatos-section-um{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 4%;
    height: 25vh;
}
.contatos-section-dois{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    height: var(--heightSectionDois);
}
.Contatos-texto ul{
    list-style: none; /* Remove marcadores ou números */
    margin: 0;         /* Remove margem padrão */
    padding: 0;        /* Remove recuo interno */
    font-size: var(--font-size-titulo-contato);
    font-weight: var(--weight-titulo-cotato);
    font-family: var(--font);
    width: 100%;

}
.Contatos-texto li{
    margin-top: var(--margin-links);
    margin-bottom: var(--margin-links);
}
.Contatos-texto p{
    margin: 0%;
    
}
.item-contatoss{
    font-size: var(--font-size-link-contato);
    font-weight: var(--weight-link);
    font-family: var(--font);
    
}
.item-contatos{
    text-decoration: none; /* Remove marcadores ou números */
    display: flex;
    flex-direction: row;
    color: var(--cor-texto);
    gap:var(--gapEntreIconeEtexto);
    
}
p.titulo_contato{
    margin: 0;
    padding: 0;
}

a.item-ultimos{
    text-decoration: none; /* Remove marcadores ou números */
    display: flex;
    flex-direction: row;
    color: var(--cor-texto);
    padding-top: 2%;
}



